/* Reset default margin and padding for body */
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Centered div styles */
.centered-div {
    height: 480px;
    width: 420px;
    /* You can adjust the width to your preference */
    margin: 40px 0px ;
    /* Set the left and right margins to auto */
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}

.calculator {
    width: 100%;
    margin: auto;
}
h1{
    text-align: center;
    color: white;
    font-size: 40px;

}
.calculator form input {
    border: none;
    outline: none;
    width:70px;
    height: 60px;
    font-size: 30px;
    background-color: orange;
    margin: 2px;
    border-radius: 5px;
    color: rgb(252, 247, 247);
}

.calculator .inputdata{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}
 .result{
    font-size: 40px;
 }

form .display input {
    text-align: center;
    flex: 1;
    font-size: 15px;
}